footer {
	position: absolute;
	width:100%;
	background: rgb(160, 198, 255);
	padding: 40px 40px;
	border-top: 2px solid rgb(119, 147, 190);
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
	display: inline-block;
	vertical-align: top;
}
/* Footer left */
.footer-distributed .footer-left {
	width: 40%;
}
/* name */
.footer-distributed h3 {
	color: #ffffff;
	font-size: 33px;
	margin: 0;
}
.footer-distributed h3 span {
	color: rgb(95, 118, 160);
}
/* Footer links */
.footer-distributed .footer-links {
	color: #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}
.footer-distributed .footer-name {
	color: #222;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}
/* Footer Center */
.footer-distributed .footer-center {
	width: 35%;
}

.footer-distributed .footer-center p span {
	display: block;
	font-weight: normal;
	font-size: 14px;
	line-height: 2;
}
.footer-distributed .footer-center p a {
	color: rgb(95, 118, 160);
	text-decoration: none;
	font-size: 18px;
}

.footer-distributed:hover .footer-center p a:hover {
	color: rgb(41, 50, 67);
}

.footer-distributed .footer-links a:before {
	content: "|";
	font-weight: 300;
	font-size: 20px;
	left: 0;
	color: #fff;
	display: inline-block;
	padding-right: 5px;
}
.footer-distributed .footer-links .link-1:before {
	content: none;
}
/* Footer Right */
.footer-distributed .footer-right {
	width: 20%;
}
.footer-distributed .footer-about {
	line-height: 20px;
	color: #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}
.footer-distributed .footer-about span {
	display: block;
	color: rgb(95, 118, 160);
	font-size: 22px;
	font-weight: bold;
	margin-bottom: 20px;
}
.footer-distributed .footer-icons a {
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color: #33383b;
	border-radius: 2px;
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
	margin-right: 3px;
}

.footer-distributed:hover .footer-icons a:hover {
	background-color: #646d73;
}

@media (max-width: 880px) {

	.footer-distributed {
		font: bold 14px sans-serif;
	}
	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right {
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}
	.footer-distributed .footer-center i {
		margin-left: 0;
	}
}
@media (orientation:portrait) {
	.footer-distributed {
		font: bold 14px sans-serif;
	}
	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right {
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}
	.footer-distributed .footer-center i {
		margin-left: 0;
	}
}
